= content_for :additional_javascript do
  = javascript_include_tag 'swfobject', 'FABridge', 'web_socket', 'raphael', 'games/sketchpad'

= like_buttons
%h2 Sketchpad
.metric
  Number of players:
  #player_count ?
.metric
  Time left:
  #countdown ?:??

#paper.box.sketchpad
